.customer-master {
  tr:nth-child(even) {
    background-color: #F7F7F7 !important;
  }

  .k-i-more-horizontal::before {
    content: url("../../Assets/MenuDots.png") !important;
  }

  //
  //.table-div {
  //  .k-widget {
  //    .k-grid-container {
  //      .k-grid-content {
  //        .k-grid-table {
  //          width: 10% !important;
  //
  //          tbody {
  //            background-color: #2666E3 !important;
  //          }
  //        }
  //      }
  //    }
  //  }
  //}
  .order-td {
    .k-button-group {
      border: 1px solid #A2A2A2;
      box-shadow: unset;

      .k-button:first-child {
        width: 40px !important;
        height: 40px; //border-right: 1px solid #A2A2A2;
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
      }

      .k-button:last-child {
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
        height: 40px;
        width: 20px;
        border-left: none;
        //width: available;
      }
    }
  }
  .search-bar {
    height: 50px;
    .search-input {
      display: flex !important;
      //justify-content:be;
      img {
        margin-top: 7px;
        margin-right: 15px;
        margin-left: 10px;
        width: 24px !important;
        height: 24px !important;
      }
    }


    //td {
    //  .k-i-more-horizontal::before {
    //    color: blue;
    //  }
    //}
    colgroup:hover {
      td {
        background-color: #2666E3 !important;
      }
    }

    .k-grid-table {

    }
    padding: 10px 10px;
    background-color: #f7f7f7;
    //height: 60px !important;
    .k-button {
      box-shadow: unset;
      border: 1px solid #A2A2A2;
      border-radius: 3px;
    }

    .k-button-group {
      box-shadow: unset;

      .k-button:first-child {
        //border-right: 1px solid #A2A2A2;
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
      }

      .k-button:last-child {
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
        height: 40px;
        border-left: none;
        //width: available;
      }
    }
    .add-button {
      background-color: #f7f7f7 !important;
      box-shadow: unset !important;
      width: 135px !important;
      margin-right: 0px !important;

      .k-button:first-child {
        width: 100px !important;
      }

      .k-button:last-child {
        height: 40px;
        width: available;
      }
    }
  }
}